.pageContainer {
  padding: 4rem;
}

.contentBox {
  background-color: rgba($white, 0.8);
  max-width: 128rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 4rem;
}
